<div class="container-fluid bg-dark text-white-50 footer pt-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                <a href="/" class="d-inline-block mb-3">
                    <h2 class="text-white">Maglumat
                        <span class="text-primary">.</span>Dolandyryş</h2>
                </a>
                <p class="mb-0">«Türkmenawtoulaglary» agentliginiň Ahal welaýat şahamçasy</p>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
                <h5 class="text-white mb-4">Biziň salgymyz:</h5>
                <p><i class="fa fa-map-marker-alt me-3"></i>Ahal welaýat</p>
                <p><i class="fa fa-phone-alt me-3"></i>+99365-12-48-78</p>
                <p><i class="fa fa-envelope me-3"></i>turkmenawtoulaglary@mail.ru</p>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
                <h5 class="text-white mb-4">Gipersalgylar</h5>
                <a class="btn btn-link" href="/">Baş sahypa</a>
                <a class="btn btn-link" href="/contact">Habarlaşmak</a>
                <a class="btn btn-link" href="/kadr/users">Işgärler</a>
            </div>
          
        </div>
    </div>
    <div class="container wow fadeIn" data-wow-delay="0.1s">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="#"></a> Ähli hukuklar goralan
                </div>
                <div class="col-md-6 text-center text-md-end">

                </div>
            </div>
        </div>
    </div>
</div>