<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div class="sb-sidenav-menu-heading">Esasy</div>
            <a class="nav-link" href="/user">
                <div class="sb-nav-link-icon"><i class="fas fa-bars"></i></div>
                Baş sahypa
            </a>
            <div class="sb-sidenav-menu-heading">Interfeys</div>
            <a class="nav-link" href="/user/users">
                <div class="sb-nav-link-icon"><i class="fas fa-file-alt"></i></div>
                Ulanyjylar
            </a>
            <a class="nav-link" href="/user/inbox">
                <div class="sb-nav-link-icon"><i class="fas fa-file-alt"></i></div>
                Inbox
            </a>
        </div>
    </div>
    <div class="sb-sidenav-footer">
        <div class="small">User:</div>
        Start Bootstrap
    </div>
</nav>